/* This is example, temporary CSS files
 * feel free to edit and change fr.
 */ 

* {
    scrollbar-width: none;
    margin: 0;
}

body {
    background-color: #282828;
    color: white;
}

h1, h2 {
    font-family: 'Arial';
    color: black;
}

p {
    font-family: 'sans-serif';
    color: black;
}

.header {
    background-color: #080808;
    padding: 10px;
}

.title {
    color: white;
    text-align: center;
}

.random-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 10px;
    margin: 10px;
}

.content1, .content2 {
    font-family: 'sans-serif';
    text-align: center;
    color: white;
}

.ex-image1, .ex-image2 {
    width: 100%;
}

