/* This is example, temporary CSS files
 * feel free to edit and change.
 */ 

html, body, * {
    scrollbar-width: none;
}

body {
    background-color: whitesmoke;
    color: black;
}

.main-content {
    margin: auto;
    width: 33.33vw;
    background-color: powderblue;
    text-align: center;
    border: 2px solid blue;
}

h1, h2 {
    font-family: 'Arial';
}

p {
    font-family: 'sans-serif';
}
